<h1>Scissors</h1>
<p>They played <%= @computer_move %></p>
<p>
  <% if @computer_move == 'scissors' %>
    We tied!
  <% elsif @computer_move == 'rock' %>
    We lost!
  <% else %>
    We won!
  <% end %>
</p>
<a href="/">Rules</a><br>
<a href="/rock">Play Rock</a><br>
<a href="/paper">Play Paper</a><br>
<a href="/scissors">Play Scissors</a>
